In [31]:
from sklearn.metrics.pairwise import linear_kernel
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
import matplotlib.pyplot as plt

In [49]:
df2 = pd.read_csv(r'C:\Users\Vinayak Sidharth\Documents\Movie_Recomend/tmdb_5000_movies.csv')

#CHANGING THE MOVIE NAMES TO NO_{} VALUES

df2['title2'] = df2['title']
no = []
for i in df2.index.values:
    no.append('no_{}'.format(i))
df2['title'] = no
df2 = df2.head(200)

In [50]:
def conv_dic(arr):
    uu = {}
    co = {}
    for i,val in enumerate(arr):
        uu[val] = i 
        co[i] = val
    return uu,co

In [51]:
def get_rec(title, cosine_sim,uu,co):
    pp = pd.DataFrame()
    pp['score'] = cosine_sim[uu[title]]
    pp = pp.sort_values(by = 'score', ascending = False)
    ind = pp[1:].index
    final = []
    
    for i in ind:
        final.append(co[i])
    return final[0]

In [52]:
def make_arr(dff):
    club = []
    tit = dff['title'].values
    uu,co = conv_dic(dff['title'].values)
    tit = list(tit)
    for t in tit:
        if t in dff['title'].values:
            tfidf = TfidfVectorizer(stop_words = 'english')
            tfidf_matrix = tfidf.fit_transform(dff['overview'])
            cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

            y=  get_rec(t,cosine_sim,uu,co)
            z = get_rec(y,cosine_sim,uu,co)
            if z ==t:
                club.append([t,y])
                dff.drop(dff.loc[dff['title']==y].index, inplace = True)
                dff.drop(dff.loc[dff['title']==t].index, inplace = True)
                uu,co = conv_dic(dff['title'].values)

            else:
                club.append([t,y,z])

                dff.drop(dff.loc[dff['title']==y].index, inplace = True)
                dff.drop(dff.loc[dff['title']==z].index, inplace = True)
                dff.drop(dff.loc[dff['title']==t].index, inplace = True)        
                uu,co = conv_dic(dff['title'].values)
                
            if len(dff)==1:
                break
        
    gr = pd.DataFrame()
    gr['group'] = club
    
    #saving df
    gr.to_csv(r"C:\Users\Vinayak Sidharth\Documents/grouped_df.csv")
        


    return dff,club,gr

In [53]:
#REST = REMANING DF(NOT GROUPED)
#AR_GR = GROUPED ARRAY
#GR = GROUPED DF
rest,ar_gr,gr = make_arr(df2.copy())

In [54]:
def extract_gp(no,arr):
    for i in range(len(arr)):
        if no in arr[i]:
            return arr[i]

In [55]:
extract_gp('no_13',ar_gr)

['no_13', 'no_42', 'no_160']

In [56]:
gr

                       group
0             [no_0, no_151]
1      [no_1, no_109, no_15]
2              [no_2, no_11]
3              [no_3, no_65]
4      [no_4, no_46, no_108]
..                       ...
74  [no_135, no_198, no_166]
75  [no_148, no_175, no_152]
76  [no_155, no_163, no_180]
77  [no_157, no_176, no_187]
78          [no_184, no_188]

[79 rows x 1 columns]